<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="./userManagement.js" type="module" defer></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
      <section class="flex-col justify-center px-12 py-6 mx-auto max-w-screen-md">
      <!-- 제목 -->
      <div class="bg-blue-400 rounded">
        <div><h1 class="border-b-2 mb-3 pb-3 text-2xl p-3 rounded">카테고리 추가</h1></div>
      </div>
      <!-- 폼 -->
      <div class="categoryFormCon mt-10 shadow">
        <form action="" class="px-6 pb-6">
          <p class="formTitle text-center text-sky-500 text-2xl mb-5">카테고리 추가하기</p>
          <div>
            <label for="titleInput" class="font-bold">카테고리 제목</label>
            <div>
              <input type="text" id="titleInput" class="border rounded p-2 mt-2 mb-4 w-full" placeholder="Men Clothes">
            </div>
          </div>
          <div>
            <label for="descInput" class="font-bold">카테고리 설명</label>
            <div>
              <input type="text" id="descInput" class="border rounded p-2 mt-2 mb-4 w-full" placeholder="봄">
            </div>
          </div>
          <div>
            <label for="themeInput" class="font-bold">카테고리 테마</label>
            <div>
              <select class="border rounded p-2 mt-2 mb-4 w-full" name="theme" id="categoryTheme">
                <option value="default" selected>테마를 선택해 주세요.</option>
                <option value="light-green">light-green</option>
                <option value="red">red</option>
                <option value="blue">blue</option>
                <option value="yellow">yellow</option>
                <option value="purple">purple</option>
              </select>
            </div>
          </div>
          <div>
            <label for="imgInput" class="font-bold">카테고리 사진</label>
            <div class="border rounded my-2">
              <label for="fileLabel">
                <input type="file" id="imgInput" class="border rounded p-2 mt-2 mb-4 opacity-0 absolute w-full" placeholder="title">
                <span class="inline-block bg-slate-400 p-2">
                  <i class="fa-solid fa-camera"></i>
                  <span class="fileLabel">사진 업로드</span>
                </span>
                <span class="ml-3">사진파일 (png, jpg, jpeg)</span>
              </label>
            </div>
          </div>
          <button class="formTitle block w-full text-center py-2 my-5 bg-sky-500 text-white text-2xl mb-5 rounded">카테고리 추가하기</button>
        </form>
      </div>
    </section> 
  </body>
</html>