<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="filter-div flex flex-col justify-center">
      <div class="filter-box w-3/5 justify-center m-auto border-4">
        <div class="filter 배송비 flex py-2 border-b-2">
          <div class="w-1/12 pl-3">배송비</div>
          <div class="option-box flex w-11/12 pl-12">
            <div class="w-1/5">
              <input
                type="checkbox"
                name="delivery-opt"
                id="free_deli"
                class="filter-option"
                value="무료배송"
              />
              <label for="free_deli">무료배송</label>
            </div>
          </div>
        </div>
        <div class="filter 색깔 flex py-2 border-b-2">
          <div class="w-1/12 pl-3">색상</div>
          <div class="option-box flex w-11/12 pl-12">
            <div class="w-1/5">
              <input
                type="checkbox"
                name="color-opt"
                id="col-white"
                class="filter-option"
                value="흰색"
              />
              <label for="col-white">흰색</label>
            </div>
            <div class="w-1/5">
              <input
                type="checkbox"
                name="color-opt"
                id="col-black"
                class="filter-option"
                value="검은색"
              />
              <label for="col-black">검은색</label>
            </div>
            <div class="w-1/5">
              <input
                type="checkbox"
                name="color-opt"
                id="col-gray"
                class="filter-option"
                value="회색"
              />
              <label for="col-gray">회색</label>
            </div>
            <div class="w-1/5">
              <input
                type="checkbox"
                name="color-opt"
                id="col-etc"
                class="filter-option"
                value="유채색"
              />
              <label for="col-etc">유채색</label>
            </div>
          </div>
        </div>
        <div class="filter 가격대 flex py-2 border-b-2">
          <div class="w-1/12 pl-3">가격대</div>
          <div class="option-box flex w-11/12 pl-12">
            <div class="w-1/5">
              <input
                type="checkbox"
                name="price-opt"
                id="under-10000"
                class="filter-option"
                value="1만원 이하"
              />
              <label for="under-10000">1만원 이하</label>
            </div>
            <div class="w-1/5">
              <input
                type="checkbox"
                name="price-opt"
                id="10000-20000"
                class="filter-option"
                value="1만원~2만원"
              />
              <label for="10000-20000">1만원~2만원</label>
            </div>
            <div class="w-1/5">
              <input
                type="checkbox"
                name="price-opt"
                id="over-20000"
                class="filter-option"
                value="2만원 이상"
              />
              <label for="over-20000">2만원 이상</label>
            </div>
          </div>
        </div>
        <div class="filter 카테고리 flex py-2">
          <div class="w-1/12 pl-3">카테고리</div>
          <div class="option-box flex w-11/12 pl-12">
            <div class="w-1/5">
              <input
                type="checkbox"
                name="category-opt"
                id="normal-stone"
                class="filter-option"
                value="일반돌"
              />
              <label for="normal-stone">일반돌</label>
            </div>
            <div class="w-1/5">
              <input
                type="checkbox"
                name="category-opt"
                id="incense"
                class="filter-option"
                value="인센스홀더"
              />
              <label for="incense">인센스홀더</label>
            </div>
            <div class="w-1/5 test">
              <input
                type="checkbox"
                name="category-opt"
                id="diffuser"
                class="filter-option"
                value="디퓨저"
              />
              <label for="diffuser">디퓨저</label>
            </div>
          </div>
        </div>
      </div>
      <div class="w-3/5 m-auto bg-neutral-100 p-2 flex">
        <button>필터 초기화</button>
        <ul class="inline-block flex" id="option_list"></ul>
        <button class="search-btn">검색</button>
      </div>
    </div>

    <script type="text/javascript" src="goods.js"></script>
  </body>
</html>
