<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>반려돌 전체</title>
		<script src="https://cdn.tailwindcss.com" defer></script>
		<script
			src="https://unpkg.com/@themesberg/flowbite@latest/dist/flowbite.bundle.js"
			defer
		></script>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
			integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<script src="./goods.js" type="module" defer></script>
	</head>
	<body>
		<header class="headerNav"></header>
		<!-- 상품목록 -->
		<main role="main" class="w-full h-screen">
			<div class="w-4/5 mx-auto border-3">
				<div
					class="product-list grid md:grid-cols-4 grid-cols-4 grid-rows-3 first:col-span-2 first:row-span-2 gap-3 text-center w-15 h-15"
				></div>
			</div>
		</main>
	</body>
</html>
