<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>상품상세</title>
		<!-- 아이콘 -->
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/elice-rabbit-favicon.png"
		/>
		<!-- bulma css -->

		<!-- 폰트 어썸: 아이콘 -->
		<script
			defer
			src="https://kit.fontawesome.com/9daa42bcef.js"
			crossorigin="anonymous"
		></script>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
			integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<script src="https://cdn.tailwindcss.com"></script>
		<!-- 커스텀 css, js -->
		<script src="./goods-detail.js" type="module" defer></script>
	</head>
	<body>
		<!-- 헤더 -->
		<header class="headerNav"></header>
		<section class="section h-screen">
			<div class="container w-[90%] h-[90%] mx-auto mt-16">
				<div class="tile is-ancestor product-detail-card flex">
					<div
						class="tile is-6 is-parent w-[50%] border mx-5 rounded-lg border-gray-300 overflow-hidden"
					>
						<div class="tile h-full is-child box product-image">
							<img class="image h-full is-sqaure object-cover" src="" />
						</div>
					</div>
					<div
						class="tile is-parent is-vertical w-[50%] p-5 border shadow-2xl rounded-lg border-gray-300"
					>
						<div class="tile is-child box product-detail px-5">
							<div class="content">
								<p class="title is-3 is-family-monospace text-3xl mt-5">
									작은 돌멩이
								</p>
								<p class="priceTag text-2xl mt-5">1,000,000원</p>
								<p class="mt-2 flex">
									배송비: 3,000원
									<span class="text-xs text-gray-500 my-auto">
										(20,000원 이상 무료배송)
									</span>
								</p>
								<div class="mt-14">상품설명</div>
								<p
									class="description border border-gray-400 rounded-lg pl-4 pt-4 pb-10"
								>
									★작고 귀여운 당신만의 애완돌★
								</p>
							</div>
						</div>
						<div
							class="buttons-container rounded-md justify-center items-center h-24 px-5 flex space-x-4"
						>
							<div class="flex gap-2">
								<p class="">수량:</p>
								<input
									value="1"
									type="number"
									class="countTag inline-block w-10 border border-black flex text-center"
								/>
							</div>
							<button
								class="addCart inline-block p-2 text-white bg-[#308BFF] border border-[#308BFF] hover:bg-white hover:text-[#308BFF] rounded-md h-12 max-[768px]:text-xs bold"
								id="orderDetailButton "
							>
								장바구니 담기
							</button>
							<button
								class="border inline-block p-2 bg-sky-500 border border-sky-500 hover:bg-white hover:text-sky-500 rounded-md h-12 text-white max-[768px]:text-xs bold"
								id="shoppingButton"
							>
								바로 구매하기
							</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
