<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>쇼핑-n팀</title>
		<!-- 아이콘 -->
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/elice-rabbit-favicon.png"
		/>
		<!-- bulma css -->

		<!-- 폰트 어썸: 아이콘 -->
		<script
			defer
			src="https://kit.fontawesome.com/9daa42bcef.js"
			crossorigin="anonymous"
		></script>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
			integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<script src="https://cdn.tailwindcss.com"></script>
		<!-- 커스텀 css, js -->
		<script src="goods-detail.js" type="module" defer></script>
	</head>
	<body>
		<!-- 헤더 -->
		<nav class="w-full py-2">
			<ul id="navbar" class="flex w-full" aria-label="breadcrumbs">
				<li class="pl-10 my-auto text-xl">
					<a href="../home/home.html">
						<i class="fa-solid fa-house"></i>
					</a>
				</li>
				<li class="pl-10">
					<button
						class="text-black bg-white hover:bg-black hover:text-white focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center"
						type="button"
						data-dropdown-toggle="dropdown"
					>
						카테고리
						<svg
							class="w-4 h-4 ml-2"
							fill="none"
							stroke="currentColor"
							viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M19 9l-7 7-7-7"
							></path>
						</svg>
					</button>
					<!-- Dropdown menu -->
					<div
						class="hidden bg-white text-base z-50 list-none divide-y divide-gray-100 rounded shadow my-4"
						id="dropdown"
					>
						<ul class="py-1" aria-labelledby="dropdown">
							<li>
								<a
									href="#"
									class="hover:bg-gray-100 text-gray-700 block px-4 py-2"
									>일반돌</a
								>
							</li>
							<li>
								<a
									href="#"
									class="hover:bg-gray-100 text-gray-700 block px-4 py-2"
									>인센스홀더</a
								>
							</li>
							<li>
								<a
									href="#"
									class="hover:bg-gray-100 text-gray-700 block px-4 py-2"
									>디퓨저</a
								>
							</li>
						</ul>
					</div>
				</li>

				<li class="w-1/12 pl-5 my-auto ml-auto">
					<a href="../admin/admin.html">페이지관리</a>
				</li>
				<li class="w-1/12 pl-5 my-auto">
					<a href="../account/account.html">계정관리</a>
				</li>
				<li class="w-1/12 pl-5 my-auto">
					<a href="../login/login.html">로그인</a>
				</li>
				<li class="w-1/12 pl-5 my-auto">
					<a href="../cart/cart.html">
						<span>
							<i class="fas fa-cart-shopping" aria-hidden="true"></i>
						</span>
						<span> 카트</span>
					</a>
				</li>
			</ul>
		</nav>
		<section class="section h-screen">
			<div class="container w-[90%] h-[90%] mx-auto mt-16">
				<div class="tile is-ancestor product-detail-card flex">
					<div class="tile is-6 is-parent w-[50%] border mx-5">
						<div class="tile is-child box product-image">
							<figure class="image is-sqaure">
								<p>이미지 넣는곳</p>
							</figure>
						</div>
					</div>
					<div
						class="tile is-parent is-vertical w-[50%] p-5 border border-gray-200 shadow-2xl"
					>
						<div class="tile is-child box product-detail px-5">
							<div class="tabs border-b-2">
								<ul>
									<li class="manufacturer">애완돌</li>
								</ul>
							</div>
							<div class="content">
								<p
									class="title is-3 is-family-monospace text-3xl mt-5 font-medium"
								>
									작은 돌멩이
								</p>
								<p>
									<span class="priceTag text-3xl mt-5 font-bold">1,000,000</span
									>원
								</p>
								<p class="description mt-10 mb-10">
									★작고 귀여운 당신만의 애완돌★
								</p>
							</div>
						</div>
						<div
							class="buttons-container grow rounded-md justify-center items-center h-24 px-5 mx-5"
						>
							<button
								class="buttons addCart text-white border border-blue-700 bg-blue-700 rounded-md h-16 w-[48%] my-auto text-xl font-bold cursor-pointer justify-center hover:brightness-50"
								id="orderDetailButton "
							>
								장바구니 추가하기
							</button>
							<button
								class="buttons float-right border border-teal-300 bg-teal-300 rounded-md h-16 w-[48%] text-xl font-bold cursor-pointer justify-center hover:bg-teal-600 border-teal-600"
								id="shoppingButton"
							>
								바로 구매하기
							</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
