<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-데모</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- 구글 OAuth -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- 카카오 OAuth -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="shippingpoint.css" />
    <script src="shippingpoint.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <nav class="w-full bg-yellow-300 py-2" role="navigation" aria-label="main navigation">
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
  <ul id="navbar" class="flex w-full" aria-label="breadcrumbs">
    <li class="w-1/12 pl-10"> 
      <a href="/">
        <span><i class="fa-solid fa-house"></i></span>
      </a>
    </li>
    <li class="w-2/3 pl-10">
      <details>
        <summary><a href="/">전체상품</a></summary>
        <ul>
            <li><a href="/">●일반돌</a></li>
            <li><a href="/">●인센스홀더</a></li>
            <li><a href="/">●디퓨저</a></li>
        </ul>
    </details>
    </li>
    <li class="w-1/12 pl-5"><a href="/login">로그인</a></li>
    <li class="w-1/12 pl-5">
      <a href="/cart">
        <span>
          <i class="fas fa-cart-shopping" aria-hidden="true"></i>
        </span>
        <span>카트</span>
      </a>
    </li>
  </ul>

</nav>
<body>
    <header id="header"></header>

    <main role="main" id="main" class="container">
        <section class="section">
            <nav class="breadcrumb is-large" aria-label="breadcrumbs">
                <ul>
                  <li><a href="/cart">장바구니</a></li>
                  <li><a>주문결제</a></li>
                  <li class="is-active"><a>주문완료</a></li>
                </ul>
              </nav>
              <hr />


            <div class="is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-center">


                <div
                    class="is-flex-direction-column shipping-box">
                    <!--- 배송지 입력칸-->
                    <div class="box">
                        <p class="subtitle is-4">배송지정보</p>
                        <div class="field is-horizontal">
                            <div class="field-label is-half-widescreen">
                                <label class="label" for="receiverNameInput">이름</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input class="input" id="receiverNameInput" type="text" placeholder="받는 분 이름을 입력해 주세요." autocomplete="on">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="receiverPhoneNumberInput">연락처</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input class="input" id="receiverPhoneNumberInput" type="number" placeholder="- 없이 입력해 주세요." autocomplete="on">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="address">주소</label>
                            </div>
                            <div class="field-body search">
                                <div class="field">
                                    <p class="control">
                                        <input class="input" id="postalCodeInput" type="text" placeholder="주소찾기를 클릭해 주세요." readonly="">
                                    </p>
                                </div>
                                <div>
                                    <button class="button is-light is-hovered" id="searchAddressButton">
                                        주소찾기
                                    </button>
                                </div>
                            </div>

                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal no-label"></div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input class="input" id="address1Input" type="text" placeholder="" autocomplete="on" readonly="">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal no-label"></div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input class="input" id="address2Input" type="text" placeholder="" autocomplete="on">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="requestSelectBox">요청사항</label>
                            </div>
                            <div class="field-body">
                                <div class="select">
                                    <select id="requestSelectBox">
                                        <option value="0">
                                            배송시 요청사항을 선택해 주세요.
                                        </option>
                                        <option value="1" class="select-option">
                                            직접 수령하겠습니다.
                                        </option>
                                        <option value="2" class="select-option">
                                            배송 전 연락바랍니다.
                                        </option>
                                        <option value="3" class="select-option">
                                            부재 시 경비실에 맡겨주세요.
                                        </option>
                                        <option value="4" class="select-option">
                                            부재 시 문 앞에 놓아주세요.
                                        </option>
                                        <option value="5" class="select-option">
                                            부재 시 택배함에 넣어주세요.
                                        </option>
                                        <option value="6" class="select-option">직접 입력</option>
                                    </select>
                                </div>

                            </div>

                        </div>
                        <div class="field is-horizontal ">
                            <div class="field-label is-normal no-label"></div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input class="input is-hidden" id="customRequestInput" type="text" maxlength="50" placeholder="최대 50자 입력이 가능합니다." autocomplete="on">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---최근 입력한 배송지 -->
                    <!-- <a class="box">
                                                <p class="subtitle is-5">최근 배송지정보</p>
                                                <div class="field is-horizontal">
                                                    <p class="pl-6">
                                                        <span class="title is-5" for="fullname">이름</span>
                                                        <span id="crrnt_fullname">블라블라</span>
                                                    </p>
                                                </div>
                                                <div class="field is-horizontal">
                                                    <p class="pl-6">
                                                        <span class="title is-5" for="phoneNumber">연락처</span>
                                                        <span id="crrnt_phoneNumber">블라블라</span>
                                                    </p>
                                                </div>
                                                <div class="field is-horizontal">
                                                    <p class="pl-6">
                                                        <span class="title is-5" for="address">주소</span>
                                                        <span id="crrnt_address">lorem500</span>
                                                    </p>
                                                </div>
                    
                                            </a> -->
                </div>
                <div class="block"></div>
                <div class="is-flex-direction-column">
                    <div class="box order-box has-background-info-light">
                        <div class="header">
                            <p>결제정보</p>
                        </div>
                        <div class="order-info">
                            <div class="info">
                                <p>주문상품</p>
                                <p class="products-title" id="productsTitle"></p>
                            </div>
                            <div class="info">
                                <p>상품총액</p>
                                <p id="productsTotal"></p>
                            </div>
                            <div class="info">
                                <p>배송비</p>
                                <p id="deliveryFee"></p>
                            </div>
                        </div>
                        <div class="total">
                            <p class="total-label">총 결제금액</p>
                            <p class="total-price" id="orderTotal"></p>
                        </div>
                        <div class="purchase">
                            <button class="button is-info" id="checkoutButton">
                                결제하기
                            </button>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </section>
</body>
</html></main><footer id="footer"></footer></body></html>