<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>장바구니</title>
		<!-- 아이콘 -->
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/elice-rabbit-favicon.png"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
			integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<!-- 폰트 어썸: 아이콘 -->
		<script
			defer
			src="https://kit.fontawesome.com/9daa42bcef.js"
			crossorigin="anonymous"
		></script>
		<!-- 커스텀 css, js -->
		<script src="https://cdn.tailwindcss.com"></script>
		<script src="https://unpkg.com/@themesberg/flowbite@latest/dist/flowbite.bundle.js"></script>
		<script src="./shippingpoint.js" type="module" defer></script>
	</head>
	<body>
		<!-- 헤더 -->
		<header class="headerNav"></header>
		<div class="section h-screen w-[80%] mx-auto">
			<div class="mx-auto mt-14 h-full">
				<ul class="flex h-12">
					<li
						class="text-2xl my-auto pl-5 fa-sharp fa-solid fa-credit-card text-gray-400"
					>
						<a href="/cart">장바구니</a>
					</li>
					<li class="ml-4 my-auto text-3xl fas fa-cart-shopping">
						<a>주문결제</a>
					</li>
					<li
						class="ml-4 my-auto text-2xl fa-sharp fa-solid fa-gift text-gray-400"
					>
						<a>주문완료</a>
					</li>
				</ul>
				<hr />
				<div class="w-full h-10"></div>
				<div class="flex space-x-5">
					<div class="w-[60%] rounded-md shadow-2xl box-content">
						<div class="w-[90%] mx-auto mt-5 pt-3">
							<div class="tile is-8 is-parent cart-products">
								<!-- 배송지 정보 -->
								<h1 class="text-2xl mb-5">배송지정보</h1>
								<div class="flex h-10 mb-3">
									<p class="w-1/4 my-auto">이름</p>
									<input
										name=""
										class="pl-2 w-3/4 border-gray-400 rounded-md border h-full"
										type="text"
									/>
								</div>
								<!--고객이름-->
								<div class="flex h-10 mb-3">
									<p class="w-1/4 my-auto">연락처</p>
									<input
										class="pl-2 w-3/4 border-gray-400 rounded-md border h-full"
										type="text"
									/>
								</div>
								<!--우편번호-->
								<div class="flex h-10 mb-3">
									<p class="w-1/4 my-auto">주소</p>
									<div class="w-3/4 flex">
										<input
											class="postNum pl-2 w-3/4 border-gray-400 rounded-md border h-full"
											type="text"
										/>
										<button
											class="w-20 ml-auto border-gray-400 rounded-md border h-full"
										>
											주소찾기
										</button>
									</div>
								</div>
								<!--주소1-->
								<div class="flex h-10 mb-3">
									<p class="w-1/4 my-auto"></p>
									<input
										class="address1 pl-2 w-3/4 border-gray-400 rounded-md border h-full"
										type="text"
									/>
								</div>
								<!--주소2-->
								<div class="flex h-10 mb-3">
									<p class="w-1/4 my-auto"></p>
									<input
										class="address2 pl-2 w-3/4 border-gray-400 rounded-md border h-full"
										type="text"
									/>
								</div>
								<!--고객요청사항-->
								<div class="flex h-10 mb-3">
									<p class="w-1/4 my-auto">요청사항</p>
									<select
										class="userRequest pl-2 w-3/4 border-gray-400 rounded-md border h-full"
										type="text"
									>
										<option value="배송시 요청사항을 선택해주세요.">
											배송시 요청사항을 선택해주세요.
										</option>
										<option value="직접 수령하겠습니다.">
											직접 수령하겠습니다.
										</option>
										<option value="배송 전 연락바랍니다.">
											배송 전 연락바랍니다.
										</option>
										<option value="부재시 경비실에 맡겨주세요.">
											부재시 경비실에 맡겨주세요.
										</option>
										<option value="부재시 문 앞에 놓아주세요.">
											부재시 문 앞에 놓아주세요.
										</option>
										<option value="부재시 택배함에 넣어주세요.">
											부재시 택배함에 넣어주세요.
										</option>
										<option value="userWrite">직접 입력</option>
									</select>
								</div>
								<!--직접선택인풋-->
								<div class="userWrite flex h-10 mb-3 hidden">
									<p class="w-1/4 my-auto"></p>
									<input
										class="userInput pl-2 w-3/4 border-gray-400 rounded-md border h-full"
										type="text"
										placeholder="최대 50자까지 입력 가능합니다"
									/>
								</div>
							</div>
						</div>
					</div>
					<div class="w-[40%] h-[46%] rounded-md shadow-2xl">
						<div class="w-[90%] mx-auto mt-5 pt-3">
							<div class="box order-summary">
								<div
									class="text-2xl pt-8 border-black border-b-2 text-slate-600"
								>
									<p>결제정보</p>
								</div>

								<div class="order-info">
									<div class="flex justify-between mt-5 text-2xl">
										<p>상품수</p>
										<p class="totalNums" id="productsTitle">0개</p>
									</div>
									<div class="info flex justify-between my-5 text-2xl">
										<p>상품금액</p>
										<p class="totalPrice">0원</p>
									</div>
									<div class="info flex justify-between mb-5 text-2xl">
										<p>배송비</p>
										<p class="deliveryFee">0원</p>
									</div>
								</div>
								<div
									class="flex justify-between text-2xl pt-5 border-black border-t-2 text-slate-600"
								>
									<p class="total-label">총 결제금액</p>
									<p class="finalPrice">0원</p>
								</div>
								<div class="purchase my-5 px-5 py-5">
									<button
										class="checkoutBtn hover:bg-white hover:text-[#308BFF] border text-white border-[#308BFF] font-bold text-2xl h-12 w-full bg-[#308BFF] rounded-lg"
									>
										결제하기
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
