<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>주문관리</title>
		<script src="./orderManagement.js" type="module" defer></script>
		<script src="https://cdn.tailwindcss.com"></script>
		<script src="https://unpkg.com/@themesberg/flowbite@latest/dist/flowbite.bundle.js"></script>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
			integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
	</head>
	<body>
    <header class="headerNav"></header>
		<section class="flex-col justify-center px-12 py-6 mx-auto max-w-screen-md">
			<!-- 제목 -->
			<div class="bg-blue-400 rounded max-w-screen-md">
				<div>
					<h1 class="border-b-2 mb-3 pb-3 text-2xl p-3 rounded">주문 관리</h1>
				</div>
			</div>
			<!-- 요약현황 -->
			<nav class="orderNav flex justify-evenly text-center max-w-screen-md">
				<div class="orderNavMenu py-6">
					<p>총 주문수</p>
					<p class="text-3xl">15</p>
				</div>
				<div class="orderNavMenu py-6">
					<p>상품준비중</p>
					<p class="text-3xl">15</p>
				</div>
				<div class="orderNavMenu py-6">
					<p>상품배송중</p>
					<p class="text-3xl">15</p>
				</div>
				<div class="orderNavMenu py-6">
					<p>배송완료</p>
					<p class="text-3xl">15</p>
				</div>
			</nav>
			<!-- 주문목록  -->
			<div class="orderListCon mt-10 max-w-screen-md">
				<div
					class="orderListCategory flex justify-around text-center bg-sky-400 rounded"
				>
					<div class="w-1/6">날짜</div>
					<div class="w-2/6">주문정보</div>
					<div class="w-1/6">주문총액</div>
					<div class="w-1/6">상태관리</div>
					<div class="w-1/6">취소</div>
				</div>

				<div
					class="orderList flex justify-around text-center items-center border-b-2 max-w-screen-md"
				>
					<div class="w-1/6 py-3">2022-11-03</div>
					<div class="w-2/6 py-3">청바지<br />청바지</div>
					<div class="w-1/6 py-3">500,500원</div>
					<div class="w-1/6 py-3 rounded">
						<select
							class="p-3 bg-slate-200 rounded"
							name="상태관리"
							id="selectBox"
						>
							<option selected value="상품준비중">상품준비중</option>
							<option value="상품배송중">상품배송중</option>
							<option value="배송완료">배송완료</option>
						</select>
					</div>
					<div class="userDelete w-1/12 py-3 bg-red-300 mx-6 rounded">
						<a href="#" class="block">취소</a>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
