<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="stylesheet" href="../dist/output.css"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>쇼핑-n팀</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->dsds
    <!-- <link rel="stylesheet" href="home.css" /> -->
    <script src="home.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <nav class="w-full bg-yellow-300 py-2" role="navigation" aria-label="main navigation">
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
  <ul id="navbar" class="flex w-full" aria-label="breadcrumbs">
    <li class="w-1/12 pl-10"> 
      <a href="/">
        <span><i class="fa-solid fa-house"></i></span>
      </a>
    </li>
    <li class="w-2/3 pl-10">
      <details>
        <summary><a href="/">전체상품</a></summary>
        <ul>
            <li><a href="/">●일반돌</a></li>
            <li><a href="/">●인센스홀더</a></li>
            <li><a href="/">●디퓨저</a></li>
        </ul>
    </details>
    </li>
    <li class="w-1/12 pl-5"><a href="/login">로그인</a></li>
    <li class="w-1/12 pl-5"><a href="/register">회원가입</a></li>
    <li class="w-1/12 pl-5">
      <a href="/cart">
        <span>
          <i class="fas fa-cart-shopping" aria-hidden="true"></i>
        </span>
        <span>카트</span>
      </a>
    </li>
  </ul>
</nav>

    <div class="div-container h-auto">
      <div class="landing flex" id="landingDiv">
        <ul class="w-[600%] flex h-95" id="slider">
          <div class="slider-con flex w-full h-full relative transition-all">
            <!-- li 동적 추가 -->
          </div>
          <button class="bg-[url('../images/arrow-left.png')] z-10 float-left w-14 h-14 inset-y-0">
          </button>
          <button class="bg-[url('../images/arrow-right.png')]">
          </button>
        </ul>
      </div>
        
      <div class="flex justify-center mt-10">
        <button class="px-6 py-3 bg-slate-200 hover:bg-slate-500 hover:text-white font-bold rounded">애완돌 보러가기</button>
      </div>

      <!-- <div class="greeting" id="greetingDiv"> -->
        <!-- <h1>안녕하세요!</h1> -->
      </div>
    </div>
  </body>
</html>